body {
    font-family: Tahoma;
    color: white;
    background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
}

h1, #title, #description {
  text-align: center;
}

form {
  margin: auto;
  margin-top: 50px;
  width: 50%;
  background-color: rgb(39, 39, 70);
}

#description {
  font-style: italic;
}

fieldset {
  border: 0;
  padding: 1rem;
}

input,select {
  display: inline-block;  
  margin: 1em 0 0 1em;
  }

label {
  display:block;
}

select {
  display:block;
  width: 95%;
  min-height: 2em;
}

button {
  min-height: 2rem;
}

#submit {
  width: 10%;
  min-height: 2em;
}