body {
    font-family: Tahoma;
    color: white;
    background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
}

h1, #title, #description {
  text-align: center;
}

#description {
  font-style: italic;
}

fieldset {
  border: 0;
}

input,select {
    margin: 1em 0 0 1em ;
  }