html {
    font-family: 'Noto Sans', sans-serif;
}

header {
    text-align: center;
}

body {
    margin-top: 10vh;
}

h1 {
    font-size: 1.4rem;
    font-weight: normal;
}

h2 {
    font-size: 1.2rem;
    font-weight: normal;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#explanation {
    text-align: center;
}

label {
    margin-top: 1.5vh;
}

#available-balance {
    margin-top: 1vh;
}

#calculate-button {
    margin-top: 1.5vh;
}

.shares {
    margin-top: 8vh;
}

input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
            appearance: textfield;
        }