html {
    font-family: 'Noto Sans', sans-serif;
    font-size: 62.5%;
}

header {
    text-align: center;
}

h1 {
    font-size: 2.4rem;
    font-weight: normal;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
}

p {
    font-size: 1.8rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#explanation {
    margin-bottom: 2%;
    text-align: center;
}

label {
    font-size: 1.6rem;
    margin-top: 1.5%;
}

#available-balance {
    margin-top: 1.5%;
}

#calculate-button {
    margin-top: 1.5%;
}

.shares {
    margin-top: 8%;
}

input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
            appearance: textfield;
        }